/* Judah Vickers, Lab 14, March 20, 2026 */
@charset "utf-8";

/* ------BACKGROUND Colors-------- */
html {
    background-image: url(../img/rustic-wood-from-pickbest-99099853.jpg);
/* Rustic wood background from: https://pikbest.com/free-backgrounds/texture.html */

}

header {
    background-color: #546848;
}

body {
    background-color: #f8ecd5;
}

footer {
    background-color: #546848;
}

/* ----------Letter Styling------- */
header nav ul li a, footer p {
    color: #f8ecd5;
    font-size: larger;
}

.bold {
    font-weight: bolder;
}

p {
    font-size: large;
}

/* ------- JavaScript ----------- */
/* Error highlight */
input.error {
    border: 2px solid #d9534f;
    background-color: #ffe5e5;
}

.form-message.success {
    background-color: #5cb85c;
}

.form-message.error {
    background-color: #d9534f;
}

/* Inline field message */
.field-message {
    font-size: 0.85rem;
    color: #d9534f;
    margin-top: 4px;
    margin-bottom: 10px;
}


